html {
    background-image: url(/img/bg.jpg);
}

#imgDiv {
    margin-top: 10px;
    box-shadow: 3px 3px 10px black;
    margin-left: 10px;
}

#colorDiv {
    margin-left: 25%;
    display: inline-block;
    width: 50%;
    height: 800px;
    background-color: rgba(12, 10, 100, 0.6)
    ;
}