@font-face {
    font-family: carolina;
    src: url(/fonts/LibreFranklin-Light.ttf);
    font-weight: 500;
}
h1 {
    color: brown; 
    font-style: initial; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 20px; 
    text-align: center;
        
}

h3 {
    margin-left: 10%;
    margin-right: 10%;
    font-family: "carolina";
    text-align: center;
    box-shadow: 3px 3px 7px grey;
    text-decoration: wavy;
}

#bioHeader {
    color: coral;
}
#skillsHeader {
    color: red;
  
}
#refheader {
    color: brown;
}
.bold {
    font-weight: bolder;
    color: coral;
}
.imgDiv {
background-color: lightblue;
margin-left: 10%;
    margin-right: 10%;
}
.imgLgt {
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;   
}
#img1 {
    
}
p {
    color: green; 
    font-size: 22px; 
    font-family: "carolina"; 
    margin-left: 20px;
    margin-top: 10px;
}
.content {
    color: black; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 10%;
    text-align: justify;
    text-transform: "uppercase";
    margin-right: 10%;
}
img {
    width: 13%;
    box-shadow: 3px 3px 7px grey;
    margin: 1%;
}
